* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: #3d3d3d;
}

:root {
    --dark-background: #1F2937;
    --bold: 700;
}

#nav-and-header {
    background-color: var(--dark-background);
}

nav {
    height: 5em;
    margin-bottom: clamp(0.3em, 0.3vw, 1.5em);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
}

nav > div {
    flex: 3 0 0;
}

nav > div > img {
    padding: clamp(1.2em, 4vw, 4em);
}

nav > a {
    font-size: clamp(0.65rem, 3vw, 1.05rem);
    padding: clamp(0.5em, 2vw, 2em);
    text-decoration: none;
    font-weight: var(--bold);
    flex: 1 1 0;
}

header {
    margin-top: 50px;
    min-height: 200px;
    max-height: 350px;
    width: calc(100% - 6em);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2em;
}

h1 {
    font-size: clamp(1rem, 3.6vw, 2.6rem);
}

header > div {
    width: 50%;
}

header > div > p {
    font-size: clamp(0.5rem, 1.8vw, 1.3rem);
    padding-top: 0.5em;
}

header > div > button {
    background-color: transparent;
    border: 0.4em solid white;
    padding: 1em 2em;
    margin: 1em 0 2em 0;
    border-radius: 0.4em;
    font-weight: 700;
    font-size: clamp(0.4rem, 2vw, 1.2rem);
}

#header-img {
    width: clamp(60%, 30vw, 100%);
    height: 90%;
    max-height: 35vh;
    object-fit: cover;
    padding-bottom: 2em;
}